*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

.top-part{
    background-color: rgba(255, 224, 122, 0.575);
    grid-row: 1 / span 1;
}

.bottom-part{
    background-color:rgb(255, 170, 170);
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: max-content;
    gap: 10px;
    padding: 10px;
}

.card{
    height:200px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
}

.top-part{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-image{
    height: 50px;
    width: auto;
}

.load-book{
   
}

.hidden{
   /*  display: none;*/
}

.bookModal{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
}


